# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# Caches
cache/
.cache/
.pytest_cache/
.mypy_cache/

# Distribution / Packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Project specific
mome_results.png
*.log
.DS_Store

*.png
*.ini
*.db